{% block content %} 
	<div class="container-fluid white">
		<div class="container">
			<div class="row">

				<div class="col-md-6">
					<p class="headline">We stand apart from our peers because we understand the methodical process that goes into creating intellectual property. We understand the science. We grasp the technical aspects as well as the creativity.</p>
				</div>

				<div class="col-md-6">
					<p class="headline">We have the expertise and experience because we hire attorneys who hold second and third degrees in IT, science and engineering and many of us have industry experience in these fields—adding another level of commitment to IP law.</p>
				</div>
				
			</div>
		</div>
	</div>
	<br>
	{% include "job-form" %}
	{% include "opening-positions" %}

	
{% endblock %}