{% block content %} 
	<div class="container-fluid white connect">
		<div class="container">
			<div class="row">

				<div class="col-md-6">
					<p class="headline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, sequi culpa voluptatum sint aut vero enim! Fugit, tempore, facere dignissimos architecto cumque expedita consequuntur dolores nesciunt tenetur magnam laborum veritatis.</p>
				</div>

				<div class="col-md-6">
					<p class="headline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, quibusdam dolor qui ut fugiat corporis tempora nostrum magnam quos dignissimos optio reiciendis eum rerum accusamus id at officia quia soluta.</p>
				</div>
				
			</div>
		</div>
	</div>
	<br>
	{% include "contact-form" %}
	{% include "map" %}
	{% include "direction" %}


	
{% endblock %}