// ==========================================================================
// Global Base Settings override
// ==========================================================================

html, body {
	height: 100%;
}

body {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
	min-height: 100%;
}

.container {
	max-width: 900px;
}

.tagline {
	padding: 2em;
}