// ==========================================================================
// Global Base Settings override
// ==========================================================================

html, body {
	height: 100%;
}

body {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
	min-height: 100%;
}

.container {
	max-width: 900px;
}

.tagline {
	padding: 2em;
}

// Intro text on secondary pages
#intro, #services {
	margin-bottom: 30px;
}

nav li a {
	background-image:url('../images/sprites.png');
}

// Google Map Styles
#google-map {
	height: 400px
}