// ==========================================================================
// Helper Classes
// ==========================================================================

.text-hide{
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.no-padding{
  padding:0 !important;
}

.no-margin{
  margin:0 !important;
}

.txt-center {
  text-align: center;
}

// Container Colors
.white {
	background-color: $white;

	&.container-fluid {
		padding: em(25);
	}
}

.dark-blue {
  background-color: $dark-blue;

  &.container-fluid {
    padding: em(25);
  }
}

.slate-gray {
  background-color: $slate-gray;

  &.container-fluid {
    padding: em(25);
  }
}

.slate-gray {
  background-color: $slate-gray;

  &.container-fluid {
    padding: em(25);
  }
}

.blue-1 {
  background-color: $blue-1;

  &.container-fluid {
    padding: em(25);
  }
}

.blue-2 {
  background-color: $blue-2;

  &.container-fluid {
    padding: em(25);
  }
}

.blue-3 {
  background-color: $blue-3;

  &.container-fluid {
    padding: em(25);
  }
}

.blue-4 {
  background-color: $blue-4;

  &.container-fluid {
    padding: em(25);
  }
}