.headline {
	font-size: em(20);
	color: $text;
}
.txt-orange {
	color: $orange;
}
.txt-white{
	color: $white;
}
.txt-lg {
	font-size: 4vw;
}

.txt-md {
	font-size: 3vw;
}

.txt-sm {
	font-size: 1.5vw;
}
