// ==========================================================================
// Global Config
// ==========================================================================

// Brand Colors
$white  : #ffffff;
$text   : #355065;
$orange : #f7971e;

// Lighter -- Patent Agents
$blue-1 : #8bd2e6;
// Light -- Associates
$blue-2 : #65c3dd;
// Dark -- Counsel
$blue-3 : #33afd3;
// Darker -- Partners
$blue-4 : #009ac6;

// Footer
$slate-gray : #004a61;