// ==========================================================================
// Global Config
// ==========================================================================

// Brand Colors
$white  : #ffffff;
$text   : #355065;
$orange : #f7971e;

$dark-blue : #00283a;

// Lightest -- Technical Advisors
$blue-0 : #9fd8e7;
// Lighter -- Patent Agents
$blue-1 : #7fcce1;
// Light -- Counsel
$blue-2 : #44bcd7;
// Dark -- Associates
$blue-3 : #00a5ca;
// Darker -- Partners
$blue-4 : #008fbe;

//Darkest -- Paragraph Blue
$blue-5 : #355065;

// Footer
$slate-gray : #004960;