{% block content %} 
	<div class="container-fluid white">
		<div class="container">
			<div class="row">

				<div class="col-md-6">
					<p class="headline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet ex sed vero iusto reiciendis officiis praesentium expedita libero quam, ullam eligendi suscipit doloribus eius optio dolores, aspernatur totam tenetur veniam.</p>
				</div>

				<div class="col-md-6">
					<p class="headline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet ex sed vero iusto reiciendis officiis praesentium expedita libero quam, ullam eligendi suscipit doloribus eius optio dolores, aspernatur totam tenetur veniam.</p>
				</div>
				
			</div>
		</div>
	</div>
{% endblock %}