<div class="footer-category text-right">

	<nav id="practice-menu">
		<ul class="nav-bar list-inline">
			<li class="navbar-text h4">PRACTICE AREAS</li>
			<li class="nav-button-copyright"><a href="/practice-areas/copyright-detail"></a></li>
			<li class="nav-button-patent"><a href="/practice-areas/patent-detail"></a></li>
			<li class="nav-button-trademark"><a href="/practice-areas/trademark-detail"></a></li>
			<li class="nav-button-litigation"><a href="/practice-areas/litigation-detail"></a></li>
		</ul>
	</nav>
	
	<nav id="industries-menu">
	 	<ul class="nav-bar list-inline">
			<li class="navbar-text h4">INDUSTRIES</li>	
			<li class="nav-button-electrical"><a href="/industries/electrical-detail"></a></li>
			<li class="nav-button-biotech"><a href="/industries/biotech-detail"></a></li>
			<li class="nav-button-mechanical"><a href="/industries/mechanical-detail"></a></li>
			<li class="nav-button-chemistry"><a href="/industries/chemistry-detail"></a></li>
		</ul>
	</nav>
</div>