<div class="footer-category dark text-right">

	<nav id="practice-menu">
		<ul class="nav-bar list-inline">
			<li class="navbar-text">PRACTICE AREAS</li>
			<li class="nav-button-copyright"><a href="#"></a></li>
			<li class="nav-button-patent"><a href="#"></a></li>
			<li class="nav-button-trademark"><a href="#"></a></li>
			<li class="nav-button-litigation"><a href="#"></a></li>
		</ul>
	</nav>
	
	<nav id="industries-menu">
	 	<ul class="nav-bar list-inline">
			<li class="navbar-text">INDUSTRIES</li>	
			<li class="nav-button-electrical"><a href="/industries/index"></a></li>
			<li class="nav-button-biotech"><a href="#"></a></li>
			<li class="nav-button-mechanical"><a href="#"></a></li>
			<li class="nav-button-chemistry"><a href="#"></a></li>
		</ul>
	</nav>

</div>