<div id="direction" class="container">
  <!--Vertical Tab-->
  <div id="practiceAreaTabs">

    <ul class="resp-tabs-list hor_1">
      <li><i class="fa fa-arrow-right"></i> Traveling Northbound on I-75</li>
      <li><i class="fa fa-arrow-right"></i> Traveling Eastbound or Northbound on I-285</li>
      <li><i class="fa fa-arrow-right"></i> Traveling Eastbound on I-75</li>
      <li><i class="fa fa-arrow-right"></i> Traveling Westbound or Southbound on I-285</li>
    </ul>

    <div class="resp-tabs-container hor_1">

      <div>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, mollitia, asperiores, cum libero sed quod nam laboriosam deserunt ipsum quas a magni qui laborum provident repudiandae. Eius nam esse ab!</span>
        <span>Nesciunt, facilis, aut, dolorem fugit nihil minima voluptatem enim cum natus velit repellendus accusamus facere alias. Iusto inventore minus saepe. Enim, blanditiis perferendis optio exercitationem perspiciatis delectus pariatur reprehenderit esse?</span>
        <span>Hic, nesciunt, laboriosam, illum, veniam sit harum deleniti earum voluptatibus error labore quasi itaque tempora quidem enim quam deserunt pariatur quia molestias perspiciatis vel distinctio ea est qui omnis animi.</span>

      </div>

      <div>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, mollitia, asperiores, cum libero sed quod nam laboriosam deserunt ipsum quas a magni qui laborum provident repudiandae. Eius nam esse ab!</span>
      </div>

      <div>
      	<span>Nesciunt, facilis, aut, dolorem fugit nihil minima voluptatem enim cum natus velit repellendus accusamus facere alias. Iusto inventore minus saepe. Enim, blanditiis perferendis optio exercitationem perspiciatis delectus pariatur reprehenderit esse?</span>
      </div>

      <div>
      	<span>Hic, nesciunt, laboriosam, illum, veniam sit harum deleniti earum voluptatibus error labore quasi itaque tempora quidem enim quam deserunt pariatur quia molestias perspiciatis vel distinctio ea est qui omnis animi.</span>
      </div>
    </div>
  </div>
</div>