<div class="container">
	<div class="row">
		<p class="section-title">Focus Areas</p>

		<!-- Practice Areas -->
		<div class="col-sm-2">
			<ul class="list-unstyled">
				<li><a href="#">Focus Area</a></li>
				<li><a href="#">Focus Area</a></li>
				<li><a href="#">Focus Area</a></li>
				<li><a href="#">Focus Area</a></li>
				<li><a href="#">Focus Area</a></li>
			</ul>
		</div>

		<div class="col-sm-2">
			<ul class="list-unstyled">
				<li><a href="#">Focus Area</a></li>
				<li><a href="#">Focus Area</a></li>
				<li><a href="#">Focus Area</a></li>
				<li><a href="#">Focus Area</a></li>
				<li><a href="#">Focus Area</a></li>
			</ul>
		</div>

		<div class="col-sm-2">
			<ul class="list-unstyled">
				<li><a href="#">Focus Area</a></li>
				<li><a href="#">Focus Area</a></li>
				<li><a href="#">Focus Area</a></li>
				<li><a href="#">Focus Area</a></li>
				<li><a href="#">Focus Area</a></li>
			</ul>
		</div>

		<div class="col-sm-2">
			<ul class="list-unstyled">
				<li><a href="#">Focus Area</a></li>
				<li><a href="#">Focus Area</a></li>
				<li><a href="#">Focus Area</a></li>
				<li><a href="#">Focus Area</a></li>
				<li><a href="#">Focus Area</a></li>
			</ul>
		</div>

		<div class="col-sm-2">
			<ul class="list-unstyled">
				<li><a href="#">Focus Area</a></li>
				<li><a href="#">Focus Area</a></li>
				<li><a href="#">Focus Area</a></li>
				<li><a href="#">Focus Area</a></li>
				<li><a href="#">Focus Area</a></li>
			</ul>
		</div>

		<div class="col-sm-2">
			<ul class="list-unstyled">
				<li><a href="#">Focus Area</a></li>
				<li><a href="#">Focus Area</a></li>
				<li><a href="#">Focus Area</a></li>
				<li><a href="#">Focus Area</a></li>
				<li><a href="#">Focus Area</a></li>
			</ul>
		</div>

	</div>
</div>