<div class="container" id="focus-area">
	<div class="row">

		<p class="section-title txt-slate-gray uppercase">Here are a few specific technologies that we have focused on:</p>

		<br>
		
		<!-- Practice Areas -->

		<div class="col-sm-3 col-sm-offset-2">
			<ul class="list-unstyled">
				<li class="txt-blue-5">object-oriented software</li>
				<li class="txt-blue-5">pet technologies</li>
				<li class="txt-blue-5">graphical user interfaces</li>
			</ul>
		</div>

		<div class="col-sm-3">
			<ul class="list-unstyled">
				<li class="txt-blue-5">water purifiers</li>
				<li class="txt-blue-5">set-top boxes</li>
				<li class="txt-blue-5">component separation microdevices</li>
			</ul>
		</div>

		<div class="col-sm-3">
			<ul class="list-unstyled">
				<li class="txt-blue-5">integrated circuits</li>
				<li class="txt-blue-5">fuel injection systems</li>
				<li class="txt-blue-5">fret protein systems</li>
			</ul>
		</div>
{% comment %}
		<div class="col-sm-2">
			<ul class="list-unstyled">
				<li class="txt-blue-5">three-dimensional modeling</li>
				<li class="txt-blue-5">oled displays</li>
				<li class="txt-blue-5">microarray technology</li>
			</ul>
		</div>

		<div class="col-sm-2">
			<ul class="list-unstyled">
				<li class="txt-blue-5">ccds</li>
				<li class="txt-blue-5">luminescent materials</li>
				<li class="txt-blue-5">medical guidewires</li>
			</ul>
		</div>{% endcomment %}

	</div>
</div>