<footer class="text-center">
	<ul class="list-inline no-margin">
		<li><a href="#">Services</a></li>
		<li><a href="#">Practice Areas</a></li>
		<li><a href="#">People</a></li>
		<li><a href="#">Careers</a></li>
		<li><a href="#">Connect</a></li>
	</ul>

	<!-- Copyright -->
	<p class="no-margin">Copyright &copy; 1997-2015 Thomas|Horstemeyer, LLP All Rights Reserved.</p>
</footer>