<header class="text-center">
	
	<!-- Logo -->
	<a href="/">
		<img src="{{ "logo.png" | asset_url }}" alt="logo" class="logo img-responsive">
	</a>

	<!-- Nav -->
	<ul class="list-inline">
		<li><a href="#">Services</a></li>
		<li><a href="#">Practice Areas</a></li>
		<li><a href="people/index" class="active">People</a></li>
		<li><a href="#">Careers</a></li>
		<li><a href="#">Connect</a></li>
	</ul>
</header>