<header class="text-center">
	
	<!-- Logo -->
	<a href="/">
		<img src="{{ "logo.png" | asset_url }}" alt="logo" class="logo img-responsive">
	</a>

	<!-- Nav -->
	<ul class="list-inline">
		<li><a href="/services/index"
			{% if mixture.url == "services/index" %}class="active"{% endif %}>Services</a>
		</li>
		<li><a href="#">Practice Areas</a></li>
		<li><a href="/people/index" 
			{% if mixture.url == "people/index" %}class="active"{% endif %}>People</a>
		</li>
		<li><a href="/careers/index">Careers</a></li>
		<li><a href="/connect/index">Connect</a></li>
	</ul>
</header>