<div class="container">
  <p class="txt-white">Apply For a Position</p>
  <div class="container-fluid slate-gray">
      <div class="row">
      <div class="col-md-6">
        <form method="post">
          <div class="form-group ">
            <div class="row">
              <div class="col-md-3">
                <label class="control-label requiredField" for="name">
                  Name
                </label>
              </div>
              <div class="col-md-9">
                <input class="form-control" id="name" name="name" type="text"/>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <div class="form-group ">
          <div class="row">
            <div class="col-md-3">
              <label class="control-label requiredField" for="lastname">
                Last Name
              </label>
            </div>
            <div class="col-md-9">
              <input class="form-control" id="lastname" name="lastname" type="text"/>
            </div>
          </div>
        </div>
      </div>
      </div>
    <div class="row">
      <div class="col-md-6">
        <form method="post">
          <div class="form-group ">
            <div class="row">
              <div class="col-md-3">
                <label class="control-label requiredField" for="Email">
                  Email
                </label>
              </div>
              <div class="col-md-9">
                <input class="form-control" id="email" name="email" type="text"/>
              </div>                
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="row">
            <div class="col-md-3">
               <label class="control-label requiredField" for="position">
              Position
            </label>
            </div>
            <div class="col-md-9">
              <input class="form-control" id="position" name="position" type="text"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-3">
            <label class="control-label requiredField" for="position">
              Choose File
            </label>
          </div>
          <div class="col-md-9">
            <input type="file" class="file-btn">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <button class="btn submit-btn " name="submit" type="submit">
          Submit Resume
        </button>
      </div>
    </div>
  </div>
</div>