<section id="map" class="container">
	<div class="container-fluid slate-gray">
		<div class="row">
			<div class="col-md-9">
				<div class="row">
					<p class="h2 txt-white col-md-1"><i class="fa fa-map-marker"></i></p>
					<p class="txt-white col-md-8">400 Interstate North Parkway SE  Suite 1500 <br> Atlanta, GA 30339 </p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="row">
					<p class="h2 txt-white col-md-1"><i class="fa fa-phone"></i></p>
					<ul class="txt-white col-md-2">
						<li>770.933.9500</li>
						<li>770.951.0933</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- Google Map -->
	<div id="google-map"></div>

</section>