<div class="container jobs-container">
	<p class="txt-white">Current Openings</p>

	<!--Job Detail -->

  <div class="container-fluid blue-3">
		<div class="article">
			<div class="text short"></div>
			<div class="text full">
				<p class="h3 txt-white">Job Title</p>
				<p class="txt-blue-5"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, temporibus, laboriosam, eligendi nisi fugit mollitia eum quis enim ullam alias sequi cupiditate accusamus at delectus voluptate sed architecto. Vitae, itaque?</span>
				<span>Explicabo, ut, magnam, nostrum, natus excepturi libero quaerat consectetur dolorum perferendis ipsam omnis ducimus minus rem obcaecati dignissimos aspernatur numquam earum quasi dicta maxime. Eveniet deserunt similique iste aut quae?</span>
				<span>Voluptate, recusandae, quaerat eum consectetur voluptates mollitia distinctio laudantium cumque eligendi temporibus alias labore aliquam aspernatur quod dolor. Officia, sed, blanditiis iste nihil placeat quasi tempore atque nesciunt ipsa animi.</span></p>
			</div>
			<span class="read-more">more</span>
		</div>
  </div>
  <br>

  <!--Job Detail -->

  <div class="container-fluid blue-3">
		<div class="article">
			<div class="text short"></div>
			<div class="text full">
				<p class="h3 txt-white">Job Title</p>
				<p class="txt-blue-5"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, temporibus, laboriosam, eligendi nisi fugit mollitia eum quis enim ullam alias sequi cupiditate accusamus at delectus voluptate sed architecto. Vitae, itaque?</span>
				<span>Explicabo, ut, magnam, nostrum, natus excepturi libero quaerat consectetur dolorum perferendis ipsam omnis ducimus minus rem obcaecati dignissimos aspernatur numquam earum quasi dicta maxime. Eveniet deserunt similique iste aut quae?</span>
				<span>Voluptate, recusandae, quaerat eum consectetur voluptates mollitia distinctio laudantium cumque eligendi temporibus alias labore aliquam aspernatur quod dolor. Officia, sed, blanditiis iste nihil placeat quasi tempore atque nesciunt ipsa animi.</span></p>
			</div>
			<span class="read-more">more</span>
		</div>
  </div>
  <br>

  <!--Job Detail -->

    <div class="container-fluid blue-3">
  		<div class="article">
  			<div class="text short"></div>
  			<div class="text full">
  				<p class="h3 txt-white">Job Title</p>
  				<p class="txt-blue-5"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, temporibus, laboriosam, eligendi nisi fugit mollitia eum quis enim ullam alias sequi cupiditate accusamus at delectus voluptate sed architecto. Vitae, itaque?</span>
  				<span>Explicabo, ut, magnam, nostrum, natus excepturi libero quaerat consectetur dolorum perferendis ipsam omnis ducimus minus rem obcaecati dignissimos aspernatur numquam earum quasi dicta maxime. Eveniet deserunt similique iste aut quae?</span>
  				<span>Voluptate, recusandae, quaerat eum consectetur voluptates mollitia distinctio laudantium cumque eligendi temporibus alias labore aliquam aspernatur quod dolor. Officia, sed, blanditiis iste nihil placeat quasi tempore atque nesciunt ipsa animi.</span></p>
  			</div>
  			<span class="read-more">more</span>
  		</div>
    </div>
</div>