<div class="container">

	<!-- Partners -->
	<div class="row team-grid">
		<div class="col-sm-2 grid-item">
			<div class="team-category">
				<p>Partners</p>
			</div>
		</div>
		<div class="col-sm-2 grid-item">
			<div class="team-partner" style="background-image:url('/images/people/partners/scott-horstemeyer.jpg">
				<p>N. Andrew Crain</p>
			</div>
		</div>
		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p>Michael J. D'Aurelio</p>
			</div>
		</div>
		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p>Todd Deveau</p>
			</div>
		</div>
		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p>Dan R. Gresham</p>
			</div>
		</div>
		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p>Charles W. Griggers</p>
			</div>
		</div>
		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p>Scott A. Horstemeyer</p>
			</div>
		</div>
		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p>Cynthia J. Lee</p>
			</div>
		</div>
		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p>Christopher B. Linder, Ph.D.</p>
			</div>
		</div>
		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p>Arvind Reddy</p>
			</div>
		</div>
		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p>David R. Risley</p>
			</div>
		</div>
		<div class="col-sm-2 grid-item">
			<div class="team-partner">
				<p>George Thomas</p>
			</div>
		</div>
	</div>

	<!-- Associates -->
	<div class="row team-grid">
		<div class="col-sm-2 grid-item">
			<div class="team-category">
				<p>Associates</p>
			</div>
		</div>
		<div class="col-sm-2 grid-item">
			<div class="team-associate">
				<p>Associates</p>
			</div>
		</div>
		<div class="col-sm-2 grid-item">
			<div class="team-associate">
				<p>Associates</p>
			</div>
		</div>
		<div class="col-sm-2 grid-item">
			<div class="team-associate">
				<p>Associates</p>
			</div>
		</div>
		<div class="col-sm-2 grid-item">
			<div class="team-associate">
				<p>Associates</p>
			</div>
		</div>
		<div class="col-sm-2 grid-item">
			<div class="team-associate">
				<p>Associates</p>
			</div>
		</div>
	</div>

	<!-- Counsel -->
	<div class="row team-grid">
		<div class="col-sm-2 grid-item">
			<div class="team-category">
				<p>Of Counsel Attorneys</p>
			</div>
		</div>
		<div class="col-sm-2 grid-item">
			<div class="team-counsel">
				<p>Of Counsel Attorneys</p>
			</div>
		</div>
		<div class="col-sm-2 grid-item">
			<div class="team-counsel">
				<p>Of Counsel Attorneys</p>
			</div>
		</div>
		<div class="col-sm-2 grid-item">
			<div class="team-counsel">
				<p>Of Counsel Attorneys</p>
			</div>
		</div>
		<div class="col-sm-2 grid-item">
			<div class="team-counsel">
				<p>Of Counsel Attorneys</p>
			</div>
		</div>
		<div class="col-sm-2 grid-item">
			<div class="team-counsel">
				<p>Of Counsel Attorneys</p>
			</div>
		</div>
	</div>

	<!-- Patent Agents -->
	<div class="row team-grid">
		<div class="col-sm-2 grid-item">
			<div class="team-category">
				<p>Patent Agents</p>
			</div>
		</div>
		<div class="col-sm-2 grid-item">
			<div class="team-patent">
				<p>Patent Agents</p>
			</div>
		</div>
		<div class="col-sm-2 grid-item">
			<div class="team-patent">
				<p>Patent Agents</p>
			</div>
		</div>
		<div class="col-sm-2 grid-item">
			<div class="team-patent">
				<p>Patent Agents</p>
			</div>
		</div>
		<div class="col-sm-2 grid-item">
			<div class="team-patent">
				<p>Patent Agents</p>
			</div>
		</div>
		<div class="col-sm-2 grid-item">
			<div class="team-patent">
				<p>Patent Agents</p>
			</div>
		</div>
	</div>

</div>