<div id="services" class="container">
  <!--Vertical Tab-->
  <div id="practiceAreaTabs">

    <ul class="resp-tabs-list hor_1">
      <h3>We perform the following services within all practice areas:</h3>
        <div class="row">
          <div class="col-md-4">
            <li> Prosecution</li>
            <li> Licensing</li> 
            <li> Litigation</li>
          </div>
          <div class="col-md-4">
            <li> Post Grant Procedures</li>
            <li> Legal Opinions</li>
          </div>
          <div class="col-md-4">
            <li> Due Diligence</li>
            <li> Portfolio Management</li>
           
          </div>
        </div>
    </ul>

    <div class="resp-tabs-container hor_1">

      <div>
        <p>Tab 1 Container Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem dolorem delectus eos iusto fugiat, laborum alias error amet, fugit, voluptas eveniet eaque nihil! Eligendi sunt tempora, necessitatibus eaque perferendis aperiam.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias necessitatibus ea molestias asperiores accusamus magnam distinctio, non. Corporis necessitatibus ea cumque, voluptatum excepturi, soluta reprehenderit dolore dicta delectus dolores, tempore.</p>
      </div>

      <div>
        <p>Tab 2 Container</p>
      </div>

      <div>
        <p>Tab 3 Container</p>
      </div>

      <div>
        <p>Tab 4 Container</p>
      </div>

      <div>
        <p>Tab 5 Container</p>
      </div>

      <div>
        <p>Tab 6 Container</p>
      </div>

      <div>
        <p>Tab 7 Container</p>
      </div>


    </div>
  </div>
</div>