<div id="services" class="container">
  <!--Vertical Tab-->
  <div id="practiceAreaTabs">

    <ul class="resp-tabs-list hor_1">
      <h3>We perform the following services within all practice areas:</h3>
        <div class="row">
          <div class="col-md-4">
            <li><i></i> Prosecution</li>
            <li><i></i> Licensing</li>
          </div>
          <div class="col-md-4">
            <li><i></i> Post Grant Procedures</li>
            <li><i></i> Legal Opinions</li>
          </div>
          <div class="col-md-4">
            <li><i></i> Due Diligence</li>
            <li><i></i> Portfolio Management</li>
          </div>
        </div>
    </ul>

    <div class="resp-tabs-container hor_1">

      <div>
        <p>Tab 1 Container <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, mollitia, asperiores, cum libero sed quod nam laboriosam deserunt ipsum quas a magni qui laborum provident repudiandae. Eius nam esse ab!</span>
        <span>Nesciunt, facilis, aut, dolorem fugit nihil minima voluptatem enim cum natus velit repellendus accusamus facere alias. Iusto inventore minus saepe. Enim, blanditiis perferendis optio exercitationem perspiciatis delectus pariatur reprehenderit esse?</span>
        <span>Hic, nesciunt, laboriosam, illum, veniam sit harum deleniti earum voluptatibus error labore quasi itaque tempora quidem enim quam deserunt pariatur quia molestias perspiciatis vel distinctio ea est qui omnis animi.</span>
      </div>

      <div>
        <p>Tab 2 Container</p>
      </div>

      <div>
        <p>Tab 3 Container</p>
      </div>

      <div>
        <p>Tab 4 Container</p>
      </div>

      <div>
        <p>Tab 5 Container</p>
      </div>

      <div>
        <p>Tab 6 Container</p>
      </div>

    </div>
  </div>
</div>