<div id="services" class="container">
  <!--Vertical Tab-->
  <div id="practiceAreaTabs">

    <ul class="resp-tabs-list hor_1">
      <h3>We perform the following services within all practice areas:</h3>
      <li><i class="fa fa-arrow-right"></i> Prosecution</li>
      <li><i class="fa fa-arrow-right"></i> Licensing</li>
      <li><i class="fa fa-arrow-right"></i> Post Grant Procedures</li>
      <li><i class="fa fa-arrow-right"></i> Legal Opinions</li>
      <li><i class="fa fa-arrow-right"></i> Due Diligence</li>
      <li><i class="fa fa-arrow-right"></i> Portfolio Management</li>
    </ul>

    <div class="resp-tabs-container hor_1">

      <div>
        <p>Tab 1 Container</p>
      </div>

      <div>
        <p>Tab 2 Container</p>
      </div>

      <div>
        <p>Tab 3 Container</p>
      </div>

      <div>
        <p>Tab 4 Container</p>
      </div>

      <div>
        <p>Tab 5 Container</p>
      </div>

      <div>
        <p>Tab 6 Container</p>
      </div>




    </div>
  </div>
</div>