.container {
	&.connect {
		margin: 20px 0;
	}
}

// Google Map Styles

#map {
	margin-top: 20px;

	h4 {
		font-weight: 300;
	}

	ul li {
		list-style-type: none;
	}

	#google-map {
		height: 400px;
	}

	p{
		font-size: (16);
		&.h2.txt-white {
				margin: 0 auto;
			}
	}
}

#direction {
	margin-top: 20px;
	margin-bottom: 50px;
}


