.footer-category {
	background-color:rgba(0, 0, 0, 0.5);
	color: $white;
	max-width: 900px;
	margin: 0 auto;

	.nav-bar {
		border-top: 1px solid $white;
		padding: 0;
		margin: 0 auto;

		.navbar-text {
			// position: absolute;
			// left: 75px;
		}

		li a { 
		  display:block;
		  height: 55px;
		  margin: 10px;
		}
	}

	//Industries Nav Menu Items
	.nav-button-electrical a{
		background-position: 0 175px;
		width: 155px;
	}
	 
	.nav-button-biotech a{
		background-position: -175px -70px;
		width: 160px;
	}
	
	.nav-button-mechanical a{
		background-position: -350px -70px;
		width: 160px;
	}
	 
	.nav-button-chemistry a{
		background-position: -525px -70px;
		width: 130px;
	}

	//Practice Menu Items
	.nav-button-copyright a{
		background-position: 0 60px;
		width: 155px;
	}
	 
	.nav-button-patent a{
		background-position: -170px 60px;
		width: 160px;
	}
	 
	.nav-button-trademark a{
		background-position: -350px 60px;
		width: 160px;
	}
	 
	.nav-button-litigation a{
		background-position: -525px 60px;
		width: 130px;
	}


	// Dark Themed Footer
	&.dark {
		background-color: $white;
		color: $text;

		.nav-bar {
			border-top: 1px solid $text;
		}

		.navbar-text {
			margin: 0;
		}

		//Industries Nav Menu Items
		.nav-button-electrical a{
			background-position: 0 240px;
			width: 155px;
		}
		 
		.nav-button-biotech a{
			background-position: -175px -9px;
			width: 160px;
		}
		
		.nav-button-mechanical a{
			background-position: -350px -9px;
			width: 160px;
		}
		 
		.nav-button-chemistry a{
			background-position: -525px -9px;
			width: 130px;
		}

		//Practice Menu Items
		.nav-button-copyright a{
			background-position: 0 120px;
			width: 155px;
		}
		 
		.nav-button-patent a{
			background-position: -170px 120px;
			width: 160px;
		}
		 
		.nav-button-trademark a{
			background-position: -350px 120px;
			width: 160px;
		}
		 
		.nav-button-litigation a{
			background-position: -525px 120px;
			width: 130px;
		}
	}

}

footer {
	color: $white;
	padding: em(20);
	background-color: $slate-gray;
	font-size: em(12);
	position:fixed;
	left:0px;
	bottom:0px;
	width: 100%;
	
	p {
		padding-top: em(7);
	}

	a {
		color: $white;
		text-transform: uppercase;
		text-decoration: underline;

		&:hover {
			color: $orange;
		}
	}

	ul li a{
		padding: 0 em(25);
	}
}