.footer-category {
	background-color:rgba(0, 0, 0, 0.5);
	color: $white;
	max-width: 900px;
	margin: 0 auto;

	.nav-bar {
		border-top: 1px solid $white;
		padding: 0;
		margin: 0 auto;

		li a { 
		  display:block;
		  height: 55px;
		  margin: 10px;
		}
	}

	//Industries Nav Menu Items
	.nav-button-electrical a{
		background-position: 5px 175px;
		width: 158px;
	}
	 
	.nav-button-biotech a{
		background-position: -166px -70px;;
		width: 175px;
	}
	
	.nav-button-mechanical a{
		background-position: -352px -70px;
		width: 160px;
	}
	 
	.nav-button-chemistry a{
		background-position: -515px -70px;
		width: 130px;
	}

	//Practice Menu Items
	.nav-button-copyright a{
		background-position: 0 60px;
		width: 155px;
	}
	 
	.nav-button-patent a{
		background-position: -170px 60px;
		width: 160px;
	}
	 
	.nav-button-trademark a{
		background-position: -350px 60px;
		width: 160px;
	}
	 
	.nav-button-litigation a{
		background-position: -525px 60px;
		width: 130px;
	}


	// Dark Themed Footer
	&.dark {
		background-color: $white;
		color: $text;
		margin-top: 30px;

		.nav-bar {
			border-top: 1px solid $text;
		}

		.navbar-text {
			margin: 0;
			margin-top: 15px;
			margin-bottom: 15px;
		}

		//Industries Nav Menu Items
		.nav-button-electrical a{
			background-position: 14px 240px;
			width: 165px;
		}
		 
		.nav-button-biotech a{
			background-position: -166px -9px;;
			width: 175px;
		}
		
		.nav-button-mechanical a{
			background-position: -357px -9px;
			width: 160px;
		}
		 
		.nav-button-chemistry a{
			background-position: -515px -9px;
			width: 130px;
		}

		//Practice Menu Items
		.nav-button-copyright a{
			background-position: 0 120px;
			width: 155px;
		}
		 
		.nav-button-patent a{
			background-position: -170px 120px;
			width: 160px;
		}
		 
		.nav-button-trademark a{
			background-position: -350px 120px;
			width: 160px;
		}
		 
		.nav-button-litigation a{
			background-position: -525px 120px;
			width: 130px;
		}
	}

}

#focus-area {

	margin-top: 20px;

	.section-title {
		border-bottom: 0;
		border-top: 1px solid $slate-gray;
		padding-top: 15px;
	}
}

footer {
	color: $white;
	padding: em(20);
	background-color: $slate-gray;
	font-size: em(12);
	position: relative;
	margin-top: 300px;
	left: 0px;
	bottom: 0px;
	width: 100%;
	
	p {
		padding-top: em(7);
	}

	a {
		color: $white;
		text-transform: uppercase;
		text-decoration: underline;

		&:hover {
			color: $orange;
		}
	}

	ul li a{
		padding: 0 em(25);
	}
}