header {
	background-color: $white;
	border-bottom: 5px solid $orange;

	li {
		max-width: 100%;
	}
	
	// Link Styles
	a, .dropdown-menu a {
		color: $blue-5;
		text-transform: uppercase;
		font-weight: 600;

		&:hover {
			font-family: etelka_light_proregular;
		}
		
		&:hover, &.active,
		&:focus {
			color: $blue-3;
			text-decoration: none;
			background-color: transparent;
		}


	}

	.dropdown-menu a {
		color: $white;
	}
	
	
/*	.dropdown:hover .dropdown-menu {
		display: block;
		margin-top: 0;
	}*/ /*hover dropdown*/

	// Logo Styles
	.logo {
		padding: 40px 0;
		margin: 0 auto;
		display: block;
	}

	ul li a{
		// padding: 5px 15px;
	}

	.open > .dropdown-menu {
		position: absolute;
		background-color: #f7971e;
		margin-top: 10px;
		-webkit-transform: scale(1, 1);
		 transform: scale(1, 1);  
		 opacity:1;
	}

	.list-inline {
		height: 20px;
	}

	.list-inline > li {
		
		display: inline-table;
		min-width: 175px;
		padding: 0 25px;

		> a {
			width: 175px;
		}
	}

	.dropdown-menu {
    position: static;
    left: 0;
    display: none;
    float: none;
    min-width: 175px;
    list-style: none;
    border-radius: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-clip: none;
    border: 0;
    opacity:.3;
     -webkit-transform-origin: top;
     transform-origin: top;
     -webkit-animation-fill-mode: forwards;  
     animation-fill-mode: forwards; 
     -webkit-transform: scale(1, 0);
     display: block; 
     transition: all 0.3s linear;
     -webkit-transition: all 0.3s linear;
    


	    li {
	    	max-width: 100%;
	    	display: block;
	    	padding: 8px 55px 8px 25px;

	    	a {

	    		padding: 0 !important;

		    }
	    }
	}
}