.team-grid {
	color: $white;
	clear: both;

	.grid-item {
		padding: 2.5px;
		height: 218px;

		.team-partner {
			
			// Overlay
			.team-overlay {
				background-color: $blue-4;
				height: 100%;
				width: 100%;
				z-index: 1;
				padding: 2.5px;
			}

			.team-name {
				z-index: 2;
			}

			// Image
			.team-image, .team-name, .team-overlay {
				float: left;
				position: absolute;
			}
		}
	}

	.team-category {
		background-color: $orange;
		height: 218px;
	}
}