.team-grid {
	clear: both;
	padding: 20px 0;	
	color: $white;

	.grid-item {
		padding: 2.5px;
	
		a {
			color: $white;
			&:hover {
				color: $orange;
			}
		}
		
		// Overlay
		.team-partner, .team-associate,
		.team-counsel, .team-patent {
			height: 100%; 
			z-index: 1;				
			// -webkit-transition: all 0.4s ease-in-out;
			// -moz-transition: all 0.4s ease-in-out;
			// -ms-transition: all 0.4s ease-in-out;
			// -o-transition: all 0.4s ease-in-out;
			// transition: all 0.4s ease-in-out;

			.team-name {
				z-index: 2;
				position: absolute;
			}

			// Image
			.team-image {
				position: relative;
				z-index: -1;
				top: 0;
				width: 100%;
				height: auto;

			}
		}
	}

	// Color Styles
	
	.team-partner {
		background-color: $blue-4;
	}

	.team-associate {
		background-color: $blue-3;
	}

	.team-counsel {
		background-color: $blue-2;
	}

	.team-patent {
		background-color: $blue-1;
	}

	.team-category {
		background-color: $orange;
		height: 207px;
	}

	.team-category p, .team-name {
		font-size: em(18);
		padding: 5px 10px;
	}
}


//People Detail
.people-detail {

	p {
		color: #004960;
	}

	ul {
		padding: 0;

		li {
		list-style-type: none;
	}

	}
	
	img.profile-pic {
		width: 100%;
		height: auto;
	}

	img.industries-logo {
		margin: 0 auto;
		width: 50%;
	}
}
