{% block content %} 
	<div class="container-fluid white">
		<div class="container">
			<div id="intro" class="row people-detail">
				<div class="col-md-6">
					<img class="profile-pic img-responsive" src="{{ "partner.jpg" | asset_url }}" />
				</div>

				<div class="col-md-6">

					<div class="row">
						<div class="col-md-6">
							<p class="h3 no-margin"><span class="txt-orange">N. Andrew Crain</span></p>
						</div>
						<div class="col-md-6">
							<p class="h3 no-margin"><span class="txt-blue-3">Partner</span></p>
						</div>
					</div>
					<hr style="border-top: 1px solid #004a61;">
					<p>connect</p>
					<ul> 
						<li><a href="mailto:andrew@emailaddress.com"></a>andrew@emailaddress.com</li>
						<li>404.123.4567</li>
						<li><a href="#">download vCard</a></li>
					</ul>

					<hr style="border-top: 1px solid #004a61;">
					<p>education</p>
					<ul> 
						<li>Georgia State University, J.D. 1988</li>
						<li>summa cum laude</li>
						<br>
						<li>Georgia Institue of Technology, B.E.E. 1977 with honors</li>
					</ul>

					<hr style="border-top: 1px solid #004a61;">
					<p>practice areas</p>
					<img class="img-responsive" src="{{ "practice-areas.png" | asset_url }}" />

					<hr style="border-top: 1px solid #004a61;">
					<p>industries</p>
					<img class="industries-logo img-responsive" src="{{ "electrical-logo.png" | asset_url }}" />

				</div>
			</div>

			<div id="intro" class="row people-detail">
				<div class="col-md-6">
					<p class="h3 no-margin"><span class="txt-blue-1">Biography</span></p>
					<br>
					<p>BiographyDan represents clients in litigation involving all aspects of intellectual property law, including patents, trademarks, copyrights, trade secrets, unfair competition, covenants not to compete, confidentiality agreements, and related issues. He is also experienced in negotiating and drafting contracts and licensing agreements that address intellectual property issues. 
					<br>
					Dan graduated from Georgia Institute of Technology (B.E.E., with honors) in 1977. From 1977 until beginning law school in 1985, he worked as an electrical engineer, most notably with Rockwell International. In 1988, he received his law degree (J.D., summa cum laude) from Georgia State University College of Law, where he was first in his class. 
					<br>
					After graduating from law school, Dan accepted a judicial clerkship with Judge G. Ernest Tidwell in the United States District Court for the Northern District of Georgia, Atlanta Division. He then spent a number of years in the litigation department at the Atlanta firm Troutman Sanders, where he gained experience on a wide range of federal and state litigation matters, including intellectual property related litigation. Upon deciding to concentrate his practice on intellectual property law, he joined Thomas|Horstemeyer in 1997. He became a partner in 2001.</p>
				</div>

				<div class="col-md-6">
					<p class="h3 no-margin"><span class="txt-blue-1">Experience</span></p>
					<br>
					<p>
						Experience
						In his more than twenty years of practice, Dan has represented a wide range of clients in litigation before numerous courts and administrative tribunals, including the United States Court of Appeals for the Federal Circuit, the United States Court of Appeals for the Eleventh Circuit, the Supreme Court of Georgia, the Georgia Court of Appeals, the Trademark Trial and Appeal Board, and many of the United States District Courts, including the Northern and Middle Districts of Georgia, the Middle District of Alabama, the Central and Northern Districts of California, the Northern District of Illinois, the Western District of Kentucky, the District of Massachusetts, the District of Oregon, the Middle District of Tennessee, the Eastern and Southern Districts of Texas, the Eastern District of Virginia, and the Eastern and Western Districts of Wisconsin.
						<br>
						Dan has also taught Intellectual Property Law as an adjunct professor at John Marshall Law School in Atlanta, Georgia.
						<br>
						Dan has been a member of the State Bar of Georgia since 1988 and has been registered to practice before the U.S. Patent and Trademark Office since 1998. He is also a member of the American Bar Association.
						<br><br>
						<p class="h3 no-margin"><span class="txt-blue-1">Memberships</span></p>
						<br>
						<p>
							In his more than twenty years of practice, Dan has represented a wide range of clients in litigation before numerous courts and administrative tribunals, including the United States Court of Appeals for the Federal Circuit, the United States Court of Appeals for the Eleventh Circuit, the Supreme Court of Georgia, the Georgia Court of Appeals, the Trademark Trial and Appeal Board, and many of the United States District Courts, including the Northern and Middle Districts of Georgia, the Middle District of Alabama, the Central and Northern Districts of California, the Northern District of Illinois, the Western District of Kentucky, the District of Massachusetts, the District of Oregon, the Middle District of Tennessee, the Eastern and Southern Districts of Texas, the Eastern District of Virginia, and the Eastern and Western Districts of Wisconsin.
							<br>
							Dan has also taught Intellectual Property Law as an adjunct professor at John Marshall Law School in Atlanta, Georgia.
							<br>
							Dan has been a member of the State Bar of Georgia since 1988 and has been registered to practice before the U.S. Patent and Trademark Office since 1998. He is also a member of the American Bar Association.
						</p>
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}