{% block content %} 
	<div class="container">
		<div class="tagline">		
			<p class="txt-lg txt-white">
				Тhomas Horstemeyer is IP.
			</p>
			<p class="txt-md txt-white">
				We are a boutique law firm with one clear focus:<span class="txt-orange"> intellectual property.<span>
			</p>

			<br>

			<p class="txt-sm txt-white">
				Dedicated to the practice of patent, trademark and copyright law, we 	represent some of the world’s <span class="txt-orange"> most innovative people and organizations, turning their great ideas into valuable assets and defending them from outside infringement.</span>
			</p>
		</div>	
	</div>
{% endblock %}