{% block content %} 
	<div class="container-fluid white">
		<div class="container">
			<div id="intro" class="row">

				<div class="col-md-6">
					<p class="h1 no-margin">Thomas Horstemeyer</p>
					<p class="h2 no-margin">offers <span class="txt-orange txt-italic">expert services</span> in every aspect of intellectual property law.</p>
				</div>

				<div class="col-md-6">
					<p class="headline">From biology to biotechnology, cable connectors to computer software, circuits to switches; we recognize and appreciate the novelty and functionality of our clients’ inventions—ideas and technologies that are changing the world—and have the acumen to represent them with authority.</p>
				</div>
				
			</div>
		
			{% include "categories-dark" %}

			<h1>Copyright</h1>
			
			<p class="headline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus laborum molestias id maxime optio hic, commodi sunt ipsam obcaecati quaerat cupiditate illo dignissimos facere, delectus praesentium excepturi velit eos sapiente.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi alias aperiam facere saepe quos, voluptas, omnis sunt architecto minus perspiciatis vero! Aspernatur dignissimos molestias deleniti corporis explicabo vitae ipsum at?</p>
			
			<br>

			<p class="headline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, mollitia consequuntur nulla, eaque quod aliquam adipisci esse dolorem ducimus quisquam quos nobis quam officia fugiat tempore exercitationem aliquid porro autem.</p>


		</div>
		
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="col-sm-2">
					<p>PRACTICE AREA <br> SPECIALISTS</p>
				</div>
				<div class="col-sm-10">
					{% include "related" %}
				</div>
			</div>
		</div>
	</div>
	
	
{% endblock %}